@media (max-width:992px){
  h1 {font-size: 22px;}
}

h1 {text-align: center;}

p {color: black;
   text-align: justify;}

a {target: _blank}

figure {
    display: inline-block;
    margin: 5px; /* adjust as needed */
}

figure img {
    vertical-align: left;
}

figure figcaption {
    text-align: center;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: auto;
  margin-bottom: auto;
  width: 80%;
}
